[2015-01-14 02:38] daisyfoto opened #2 "How can i create customer by Android library"
Hello Omise team
Thank you library for android
I try library for android and it can get token ok
but can i user android library for create customer and store card to customer  or I just get token by android library and sent it to server site for create customer  and store card to customer

i saw in README.md
" This library also allows you to securely store customers card data and can be used for t

[2015-01-14 02:59] robinclart commented on #2
Hi Adisak, you'll need to send the token to your web server. This is required since you must not publish your app with your secret key for security reason. Since you need that key to create the customer it is not feasible to allow customer creation from either this library or the iOS one.

[2015-01-14 03:00] robinclart commented on #2
We'll update the readme to reflect this. Thanks for the feedback ;)

[2015-01-14 03:02] daisyfoto commented on #2
OK , thank you so much robinclart

[2015-01-14 05:30] #2 closed

[2015-02-17 13:32] SagarRaiyani opened #5 "omise android sdk"
Hello sir / ma'am,

I have working omise payment gateway integration in our application but the sample SDK some import not found, so please check my screen-sort and give me a suggestion..
![capture](https://cloud.githubusercontent.com/assets/5584295/6228898/7340e9b6-b6d7-11e4-801a-b3fd9cf458aa.PNG)

[2015-02-18 04:19] robinclart commented on #5
Hi @SagarRaiyani, that's our fault. We forgot to update the example after we change the SDK. All code related to Customer have been dropped for security reason. Sorry about that.

[2015-02-18 04:44] SagarRaiyani commented on #5
Hello @robinclart, thanks for reply..   :)

[2015-02-18 04:45] robinclart commented on #5
You're welcome. We have updated the Example. It should work now. You can just `git pull` the change.

[2015-02-18 04:46] #5 closed

[2015-12-06 19:31] easycheese opened #11 "Card Branding information"
Am I crazy or does 'requestToken' not include the card branding information?

[2015-12-07 02:55] tinhanchanachai commented on #11
What omise-android do you use?.
I try on omise-android 1.0.3, Can get brand.
Token.getCare().getBrand();

Ref document for Token API : https://www.omise.co/tokens-api

[2015-12-10 00:11] easycheese commented on #11
Sorry, I didn't realize that omise determined the brand from the card number, I thought we had to call setBrand()

[2015-12-10 00:11] #11 closed

[2016-06-21 07:08] khunzohn opened #12 "Backward compatilibity"
Hi team omise,
The current lib supports android 19 and up. Is there any possibility for android version prior to 19 to leverage this library?I'd like to go down as far as 15 in my case. If not ,what would be the solution for those old android versions? Thanks.

[2016-06-22 09:03] chakrit commented on #12
@khunzohn Hi the requirement for version 19 was a conservative move by me. However, I have just tested most of the code as-is with `minSdkVersion 15` and everything seems to be working ok, so I have published version `2.0.1` with that change.

It should be available on maven central in a bit.

If you have more questions, feel free to ask away (or pop onto our gitter live chat: gitter.im/omise/omis

[2016-06-22 09:03] #12 closed

[2016-06-22 09:04] chakrit commented on #12
@khunzohn feel free to reopen if this does not fix your problem.

[2016-10-05 08:48] chakrit opened #18 "'placeholder_security_coe' marked untranslatable."
During builds. Might need to fix some XML.

[2016-10-05 09:25] chakrit commented on #18
Fixed by #19

[2016-10-05 09:25] #18 closed

[2017-03-20 10:42] dtac-watcharapon opened #20 "Proguard"
When i set minifyEnabled is true
Compiler return below

Warning:co.omise.android.CardIO: can't find referenced class io.card.payment.CardIOActivity
Warning:co.omise.android.ui.CreditCardActivity: can't find referenced class io.card.payment.CardIOActivity
Warning:co.omise.android.ui.CreditCardActivity: can't find referenced class io.card.payment.CreditCard

How to fix it?

[2017-03-21 05:01] chakrit commented on #20
@dtac-watcharapon [Card.io](https://www.card.io) is used for the camera scanning functionality. The dependency is added with `provided` scope so your application should builds fine even without Card.io support.

If you wish to use the card scanning functionality, please add the following to your `build.gradle` file in `dependencies` block:

[code]

We will investigate ways to quench the warnings i

[2017-03-21 08:44] pitiphong-p commented on #20
Hello @dtac-watcharapon could you give us more information? We fail to try to reproduce your issue.

[2017-04-04 08:07] #20 closed

[2017-04-20 08:58] Yoshi3003 opened #21 "Card Brand Logo For VISA and Mastercard are colored white"
Hi,

It seems that the card brand logo (within the SDK) for VISA and MasterCard (at least) are white and not colored like the original. Not sure if this is intended ?

The resources are retrieved from the code below (as in CreditCardActivity):
`CardBrand.getLogoResourceId()`

Thank you,
Jitrapon

[2017-06-21 17:49] Ak10990 opened #22 "Proguard rules"
Proguard rules are missing in documentation.

[2017-07-25 08:45] pitiphong-p commented on #21
Yes, that is intended. Since the logo will be appeared on the card number input field which will have a dark background.

[2017-08-02 04:20] faketon opened #26 "Cannot compile version 2.3.+"
this version is open or not. but i can use version 2.2.0

[2017-08-02 04:43] pitiphong-p commented on #26
@faketon we're sorry for your inconvenience, we're working on this issue and will let you know as soon as we resolve this issue

[2017-08-08 05:03] TheEnsis opened #27 "Samsung device space bar not added in CreditCardEditText"
I tested and it worked now for sony and asus device

[2017-08-08 05:34] pitiphong-p commented on #27
Could you provide the device information? Model and Android version

[2017-08-08 09:25] TheEnsis commented on #27
FYI : I added it it inside TextInputLayout

Devices I tested are samsung galaxy j5 version 6.0.1 and samsung note 5 version 7.0
Devices that work fine is sony XZs version 7.1 and asus zenphone version 6.0.1

[2017-08-09 05:23] pitiphong-p commented on #26
@faketon We fixed the issue. Our 2.3.0 SDK should be available to you now. Please try again

[2017-08-09 05:23] #21 closed

[2017-09-11 06:43] #26 closed

[2017-09-27 03:26] chakrit commented on #22
Hey @Ak10990 It's been a while but now we finally have experienced android person to do it now, please check this PR : https://github.com/omise/omise-android/pull/28/files it has been merged.

We'll release this as the next minor version soon-ish.

[2017-09-27 03:26] #22 closed

[2017-09-27 03:28] chakrit commented on #27
@nuxZERO please check if you can krub 🙇

[2017-10-28 14:03] WeRockStar commented on #27
Huawei has same issue.

[2017-10-30 05:22] nuxzero commented on #27
@WeRockStar What the model and Android version?

[2017-10-30 13:44] WeRockStar commented on #27
@nuxzero Huawei P10 Plus and Android 7.0. I add EditText inside TextInputLayout (Floating Label)

[2017-11-06 05:22] nuxzero commented on #27
@WeRockStar we already fixed about spacing on `CreditCardEditText `. Please checkout our new version `v2.6.2`.

Please don't hesitate to contract us If you has any problem.

[2017-11-06 06:10] #27 closed

[2017-11-06 11:20] WeRockStar commented on #27
@nuxzero Thank you for support 🤘

[2017-11-07 05:13] WeRockStar opened #32 "In `Card` data model without `bank` field?"
I read omise cards-api document i see `bank` in the table.
But. I no see in `Card` model class
[code]

Do you explain for me why it difference?
Best Regard.

[2017-11-07 05:38] nuxzero commented on #32
We will look into about this then update soon.
Thank you for your report.

[2017-12-27 11:34] j2emanue opened #33 "Suspected Proguard issue : Warning:co.omise.android.ui.CreditCardActivity$ActivityTokenRequestListener: can't find referenced field 'int text_error_message' in program class co.omise.android.R$id"
#When building a signed apk i get the following warning:

Warning:co.omise.android.ui.CreditCardActivity$ActivityTokenRequestListener: can't find referenced field 'int text_error_message' in program class co.omise.android.R$id

here are my gradle dependencies:

    implementation 'co.omise:omise-android:2.3.+'

adding the following to proguard does not rectify the warning:

[code]

if it makes any

[2018-01-09 03:56] minibugdev opened #34 "Alipay not redirect back to application on version 2.6.2"
I think this issue was fixed on branch [handle-alipay-authorize-uri](https://github.com/omise/omise-android/tree/handle-alipay-authorize-uri) but not merged.

[2018-01-09 04:04] nuxzero commented on #34
@minibugdev Thank you for your feedback. We are working on this issue and we will merge this issue to next version soon. 😄

[2018-01-10 03:56] nuxzero commented on #33
@j2emanue Can you try to change with our latest version `implementation 'co.omise:omise-android:2.6.2'`.

[2018-01-10 16:09] j2emanue commented on #33
ill test it out shortly tomorrow

[2018-01-11 04:32] j2emanue commented on #33
upgrading to the latest version has not resolved the issue.  After tryingt o build a signed apk i still get a lint warning of : `Warning:co.omise.android.ui.CreditCardActivity$c: can't find referenced field 'int text_error_message' in program class co.omise.android.R$id
`

below is the gradle dependency being used:

`implementation 'co.omise:omise-android:2.6.2'`

[2018-01-11 04:51] nuxzero commented on #33
We tested in our sample app it look fine for signed apk. But you could try to add `-dontwarn co.omise.android.R$id`.

[2018-01-11 05:39] j2emanue commented on #33
yeah ignoring it fixes the warning.

[2018-01-11 05:40] #33 closed

[2018-01-15 05:02] nuxzero commented on #34
@minibugdev Can you share for more information that will help us solve this issue?

[2018-01-15 08:07] minibugdev commented on #34
Thanks @nuxzero, We are try to charge **Alipay** by using `AuthorizingPaymentActivity`as follow steps

* **1. Mobile Number**
![Step1. Mobile Number](https://i.imgur.com/Dbz6Yzo.png)

* **2. OTP**
![Step2. OTP](https://i.imgur.com/ob8P9Yw.png)

* **3. Open/Download Alipay**
![Step3. Open/Download Alipay](https://i.imgur.com/J3zoByX.png)
At this step, can not do anything.

[2018-01-18 04:42] minibugdev commented on #34
@pitiphong-p , We build `handle-alipay-authorize-uri` and reproduce flow.
It work properly until submit OTP and application crash.

![Crash](https://i.imgur.com/LoCVCua.png)

[2018-01-18 05:30] pitiphong-p commented on #34
You authorize payment via Alipay app or web browser?

[2018-01-18 08:00] minibugdev commented on #34
I authorize payment via `AuthorizingPaymentActivity` and application crash when we submit an OTP.

This error was occurred before we proceed to step 3 (Open/Download Alipay) as I mentioned above.

[2018-01-18 08:01] pitiphong-p commented on #34
Do you have an `Alipay` app installed on your phone?

[2018-01-18 08:03] pitiphong-p commented on #34
So the app crashes before reaching step 3? You didn't see the step 3 scene during your test process?

[2018-01-18 08:08] minibugdev commented on #34
I don't have `Alipay` app on my phone and app crashes before reaching step 3.

[2018-01-18 08:16] pitiphong-p commented on #34
Thank you for the information. We'll investigate on this

[2018-02-26 04:52] nuxzero commented on #32
We supported `bank` field, please checkout lasted version.

[2018-02-26 04:52] #32 closed

[2018-02-26 07:43] nuxzero commented on #34
@minibugdev Please you check the latest version. If you have any problem, please don't hesitate to ask us.

[2018-02-26 07:43] #34 closed

[2018-03-07 16:05] hamzabinamin opened #39 "Saving customer card details"
Is it possible to save the customer card details (name, card number, cvv and expiry) on the client side using the android sdk?

[2018-03-08 17:15] j2emanue opened #40 "How to not open expected result url"
EXTRA_EXPECTED_RETURN_URLSTRING_PATTERNS i set to https://www.mywebsite.com

but the problem is i am using a native app and i do not want to leave the application after i get the authorization call back of either success/failure in the acitivityResult.  I tried setting the EXTRA_EXPECTED_RETURN_URLSTRING_PATTERNS to an empty array but its not helping.  What i want to accomplish is that after the u

[2018-03-09 03:43] j2emanue commented on #40
after i actually caught the activityResult it allows me to handle the URL myself.  this works. closing issue.

[2018-03-09 06:56] nuxzero commented on #39
Sorry, we are not recommended to save card details on client side. Please checkout our documentation about collecting cards.
- https://www.omise.co/security-best-practices
- https://www.omise.co/collecting-card-information
- https://www.omise.co/customers-api#create-a-customer

[2018-03-09 06:59] nuxzero commented on #40
@j2emanue Do you still have any issues? If not, I'm going to close this issue.

[2018-03-09 09:37] j2emanue commented on #40
Close it. Thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Natthawut Hemathulin <notifications@github.com>
Sent: Friday, March 9, 2018 1:59:28 PM
To: omise/omise-android
Cc: j2emanue; Mention
Subject: Re: [omise/omise-android] How to not open expected result url (#40)

@j2emanue<https://github.com/j2emanue> Do you still have any issues? If not, I'm goi

[2018-03-09 09:42] #40 closed

[2018-03-10 14:46] hamzabinamin commented on #39
@nuxzero Thanks for the reply. I was able to create customers, however I was wondering how can I retrieve a particular customer. I understand that I can use something like the following:

$customer = OmiseCustomer::retrieve('cust_test_4xtrb759599jsxlhkrb');

But how can I store the customer ID (cust_test_4x...) so that I can reference that customer later on? I am using PHP on the server end and an

[2018-03-11 14:47] chakrit commented on #39
@hamzabinamin This is unrelated to omise-android. Please make an issue on omise/omise-php repository or on the public forum https://forum.omise.co

[2018-03-11 14:47] #39 closed

[2018-03-12 05:38] j2emanue opened #41 "omise internet banking threading"
can you research if there is a treading issue. if i test too quickly on the authorize activity  then odd time it fails. out of 10 times testing it can fail twice if i go too quickly hitting the success button produces failure at odd times. we want to put this in espresso test so we dont want it to be flaky.  Confirmed i am passing in authorize uri and return uri to the activity. it all works just

[2018-03-12 05:45] chakrit commented on #41
@j2emanue Can you explain more on the failure you mention. How exactly is the app failing? Are there error messages?

[2018-03-12 07:37] j2emanue commented on #41
its not in production. never tried yet. but in the testing authorization activity. if i hit "success" too quickly sometimes it just produces a failure.

[2018-03-12 08:51] nuxzero commented on #41
@j2emanue Can you show your failure please?

[2018-03-12 12:07] j2emanue commented on #41
i dont have a stack trace as i am on client.  tell me this, is there some kind of time period between failures ? i mean can i retry the same payment multiple times very quickly or is there a wait time between retrying the same payment method ?

[2018-03-14 07:03] pitiphong-p commented on #41
When you said `mark it successful next time ` you meant on a new charge? Also do you have a video recording of your scenario? So that we can understand more clearly and correctly.

[2018-03-14 07:55] j2emanue commented on #41
let me explain what i have narrowed down the issue to be.  after Omise sdk calls onActivityResult i call our servers to verify payment (through omise api) but sometimes the payment is marked as "pending". this is causing me to have to show the user that the transaction failed (since its not in a successful state).  why did omise sdk not wait until status is either success or failure and then call

[2018-03-15 06:51] pitiphong-p commented on #41
We've worked together with the Internet Banking team to address your issue. Please find our response below.

Once the customer follows the authorized URL, the authorization process is handled by a 3rd party, which in this case is the bank. The customer's activity/ behavior which occurs during this stage is beyond our control. The idea of having the AuthorizingPaymentActivity is to ease the integra

[2018-03-16 17:55] hamzabinamin opened #42 "Using real debit/credit cards to make test transactions"
Is it possible to use real debit/credit cards to make test transactions without deducting the balance from the cards?

[2018-03-19 09:22] #41 closed

[2018-03-19 09:26] pitiphong-p commented on #41
@j2emanue Does my comment help you on your issue? And do you any more question?

[2018-03-19 09:37] nuxzero commented on #42
Yes, you can test with real debit/credit cards in test mode.

[2018-03-19 09:43] hamzabinamin commented on #42
@nuxzero Thanks for the reply. Could you please let me know if my flow of using the gateway is correct?

1. Capturing Card Details using my own card form.
2. Creating the client object.
3. Creating the token request object and saving the card details
4. Then using the client request to send that token request.
5. The received token is used to create the customer object in omise and I'm then saving

[2018-03-19 10:06] nuxzero commented on #42
- Your flow look corrected.
- If you need to use token to  charge the client. You need to implement charge on server side with Charge API https://www.omise.co/charging-cards.

[2018-03-19 10:10] hamzabinamin commented on #42
@nuxzero Is it possible to do the charge directly through the android SDK? Will all cards get charged successfully or will some require 3d secure as well?

[2018-03-19 11:24] nuxzero commented on #42
Q: Is it possible to do the charge directly through the Android SDK?
A: We does not provide SDK to make a charge on the client side. Our SDK provides Tokenization API to avoid sent credit card data to server-side https://www.omise.co/tokens-api.

Q: Will all cards get charged successfully or will some require 3d secure as well?
A: This depends on your account in approval KYC.

[2018-03-19 11:26] hamzabinamin commented on #42
@nuxzero
Q: But how can I charge  an amount using the Tokenization API?
Q: What is approval KYC?

[2018-03-19 18:00] chakrit commented on #42
@hamzabinamin The Tokenization API is not for charging. You can use the Charge API for that, which must be called from the server-side. The `skey` required to do so can also be used to make money transfer and perform other sensitive actions.

Please check [Collecting Cards](https://www.omise.co/collecting-card-information) docs for more info.

![](https://cdn.omise.co/assets/developer-documents/im

[2018-03-19 18:06] chakrit commented on #42
@hamzabinamin For 3DS, this depends on your account settings and our KYC (know-your-customer) process when you apply for a live account. We require some merchants to enable 3DS to reduce fraud risk. Merchants who have 3DS enabled on their account will always have to do an authorization redirect. Otherwise, there will be no authorization step needed for credit cards and you can always charge in one

[2018-03-19 18:07] chakrit commented on #42
If you need more information about the KYC process or whether or not you need to worry about 3DS, please check with our support team: support@omise.co

[2018-03-19 18:07] #42 closed

[2018-03-20 11:19] j2emanue commented on #41
please close this ticket as resolved.

[2018-05-21 09:42] Ak10990 opened #44 "javax.net.ssl.SSLHandshakeException on pre-lollipop devices"
Error description:-
javax.net.ssl.SSLHandshakeException: javax.net.ssl.SSLProtocolException: SSL handshake aborted: ssl=0x59188280: Failure in SSL library, usually a protocol error error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure (external/openssl/ssl/s23_clnt.c:741 0x5c43ed38:0x00000000)

Can you please check that proper certificates are provided in the client buil

[2018-05-21 11:06] pitiphong-p commented on #44
Thank you for your help. We're investigating on this issue.

[2018-05-21 11:34] pitiphong-p commented on #44
@Ak10990 What's the Android version of the device you found this issue?

[2018-05-21 11:48] Ak10990 commented on #44
I am facing this issue on pre-lollipop devices notably jelly bean and kitkat.

[2018-05-23 05:00] pitiphong-p commented on #44
Hi @Ak10990, we had reviewed and discussed on this issue and came up with a solution.

This issue is caused by the lack of a strong cipher suites support in pre-Lolipop and Omise dropped support of those weak suites those are supported in pre-Lolipop due to the security issue.

However there is an workaround here. Google provide a security update via the Google Play Service API. You can update you

[2018-05-24 08:29] Ak10990 commented on #44
Hi
Can you provide some timeline for when this issue will be fixed and the sdk will be updated?

[2018-05-24 08:31] pitiphong-p commented on #44
We can't do anything here since it's an issue caused by Android. What we can do is to update the README with the solution we told you in the last comment.

[2018-05-24 10:10] Ak10990 commented on #44
But that won't help since the custom builder for API is created in sdk itself. The app just uses the callbacks from there. The sdk has to be updated accordingly.

[2018-05-24 10:14] pitiphong-p commented on #44
The SDK uses the Android default SSL factory which will be updated to support the newer suites with the Provider even though it was installed in the app.

We did an experiment and it works as expected in a testing project. Could you try that workaround to see if that works for you?

PS. Please test on the real device or API 19 emulator. Google doesn't update GMS for emulator API 18 or lower anymor

[2018-05-28 06:48] pitiphong-p commented on #44
@Ak10990 How's your situation now? Does the workaround work for you?

[2018-05-28 07:18] Ak10990 commented on #44
Still testing. Haven't faced this issue yet again.

[2018-06-05 09:05] pitiphong-p commented on #44
Have you face this issue again? May we close this issue if you're ok?

[2018-06-05 09:27] Ak10990 commented on #44
Hi
This issue is not fixed in the omise sdk master branch. Also we are still in the middle of release for testing the same with our users. The workaround changes in the 'pinning-certificate' branch will require the code to be copied into the project instead of using the sdk path in gradle itself.

[2018-06-05 09:34] pitiphong-p commented on #44
The change in `pinning-certificate` is not related to this issue. As I told you this issue is on Android side. We can't do anything to fix this.

We try the workaround that we gave you and it works correctly on the API 19 emulator (with Play Store installed)

Could you re-validate your solution?

[2018-07-23 13:05] hamzabinamin commented on #42
Hi there, we are looking to launch the app, I would like to convert the testing account into live account. What is the process for that? Currently I have used real credit cards using the Charge API and it works without enabling 3DS or any additional security. Should we expect the same behavior in the live environment? How can we check that?

[2018-07-24 03:36] nuxzero commented on #42
@hamzabinamin, here are answers to your questions.

**I would like to convert the testing account into live account. What is the process for that?**
- You need to activate your live account by visiting https://dashboard.omise.co/registrations

**Currently, I have used real credit cards using the Charge API and it works without enabling 3DS or any additional security. Should we expect the same beha

[2018-08-25 13:41] hamzabinamin opened #45 "Testing 3d secure on test account."
Hi there, I recently got my app approved from the omise review team and they suggested that I should add 3d secure as well. They mentioned that they have activated 3d secure on my account. I have a few questions:

1. How can I make sure that 3d secure is enabled on my test and live account? I don't see any information on the dashboard that states 3d secure is enabled?
2. I have read the flow of 3d

[2018-08-27 03:37] chakrit commented on #44
No update for a month, closing.

[2018-08-27 03:37] #44 closed

[2018-08-27 03:42] chakrit commented on #45
@hamzabinamin Let me investigate for 1. and 2. However, for these queries, I recommend to ask via our [official support channel](mailto:support@omise.co) directly as we cannot reveal some account-specific information on public forums.

3) -> Yes `paid=true` means the charge is complete.
4) -> Not with empty `return_uri` but we have mechanism in the SDK to detect redirection to a specific URI and d

[2018-08-27 03:44] chakrit commented on #45
For 4. you should always handle these at the web server level anyway as there is it is possible for the end-user to modify the return-uri and trick the app into thinking that you are paid.

[2018-08-27 03:51] nuxzero commented on #45
For 5. Android allow used an integer to pass the result back from `setResult(int, intent)`. You can use `CreditCardActivity.RESULT_CANCEL` or `CreditCardActivity.RESULT_OK` to handle result back from `startActivityForResult` like this.

[code]

[2018-08-27 04:13] chakrit commented on #45
@hamzabinamin your account is 3ds-enabled already.

[2018-08-27 10:40] hamzabinamin commented on #45
@nuxzero @chakrit How can I test the otp scenario on the test account? For test account, the authorization activity processes payment and displays the return URL, there's no way to determine if the user entered correct otp and paid the payment. Also will the live account work with testing cards mentioned on your website?

[2018-08-28 08:25] jutikorn opened #46 "minSdk is set as Android 18"
Any a particular reason to update your Android SDK min version to Android 18?
I am currently using omise-sdk version 2.0.1 and cannot update it to 2.6.4 because my application minSdk version is set to Android 15.
Is it possible to bring your minimum support sdk down to 15?

[2018-08-28 08:33] pitiphong-p commented on #46
We need to set minimum SDK to API 16 due to the supported encryption built in the Android OS. The minimum requirement of encryption suite is TLS 1.2 with at least SHA 256 as a minimum. Due to that the TLS 1.2 is not supported in Android version earlier than API 16 so we decided to drop support for those versions

[2018-08-28 10:37] hamzabinamin commented on #45
@nuxzero
1. I was using the test card for successful charge. It's number is  4111-1111-1111-1111. I am also getting the transaction ID as null. All of these cards were working fine before 3ds got enabled.

2. Is it possible that I can use real cards on test account without having the charge deducting money from the card? That way I can test the otp scenario I believe.

3. Also I think I found out

[2018-08-28 11:31] nuxzero commented on #45
1. Please check the status property of the charge. If the charge needs to be authorized with OTP then the status will be other status than `successful` which the charge may not have the `transaction` yet.

2. No, the test account will be run in the contained environment which doesn’t connect to the bank. But you can test on the live account and refund after created charge.

3. That right, `onActiv

[2018-08-28 16:18] hamzabinamin commented on #45
@nuxzero Thanks for explaining the flow. I have one last confusion.

When the return URL is displayed, what trigger should be there that can close the authorization activity and send the result code of 1? Because after the payment gets processed, the authorization activity displays the return URL that I provided but it doesn't get closed by itself and if I press the back key it returns a result of

[2018-08-28 17:46] pitiphong-p commented on #45
@hamzabinamin the `AuthorizingPaymentActivity` will return the result when its web view was redirected to a URL that matches the expected URL patterns argument. Please check your expected URL patterns argument if it’s the prefix of the returned URL

[2018-08-29 13:10] hamzabinamin commented on #45
@pitiphong-p thank you for providing that information. I see, that EXPECTED_URL_PATTERNS takes an array of URL strings, what will be the use case in which we might need more than one return URL?

[2018-08-29 13:39] pitiphong-p commented on #45
@hamzabinamin You can have only 1 return URL per charge but the reason that EXPECTED_URL_PATTERNS is an array is for the case that you have multiple variant of URL patterns

[2018-08-29 14:01] hamzabinamin commented on #45
@pitiphong-p Do you have an example for this?

[2018-08-29 14:42] pitiphong-p commented on #45
An example for which case?

[2018-08-29 17:45] hamzabinamin commented on #45
@pitiphong-p An example for the scenario where we might have multiple variants of URL patterns?

[2018-08-29 18:09] pitiphong-p commented on #45
We don’t have any concrete example here. This feature is provided in case where a business requirement need to have multiple return URLs patterns. For example a business may have many lines of products and would like to have multiple returned URLs patterns for each product lines

[2018-08-30 14:18] hamzabinamin commented on #45
@pitiphong-p While I was able to solve my initial problem and now I do get the successful result in onAcitvityResult. I'm not sure why but I can't seem to send data through the intent. I am trying to send the charge ID so that I can retrieve it later on, once I receive the return URL in onActivityResult but I always get it as null.

[code]

[code]

[2018-08-30 15:27] pitiphong-p commented on #45
@hamzabinamin We can't provide more information from our Activity. However the practice that many merchants do is that the return URL contains some information related to the order/charge which you can parse the returned URL and asks for related information from your server based on the parameter in the returned URL

[2018-08-31 14:44] hamzabinamin commented on #45
@pitiphong-p sending get parameters in the return URL is safe?

[2018-08-31 16:36] pitiphong-p commented on #45
You shouldn't send the Omise charge id back with the returned URL. The data that we recommend to put in the returned URL is a piece of data that you can look up back to your order/data in your system that is associated with an Omise charge. For example your order id or a piece of an order that unique for that order and you can look up for an order with that data.

[2018-09-20 08:33] jutikorn commented on #46
@pitiphong-p thanks for reply, could you let me know when will you guys stop the support to  Omise SDK version 2.0.1? Since now I cannot yet update my application minimum SDK.
Thanks.

[2018-09-20 08:50] pitiphong-p commented on #46
We don't have any explicit plan to stop supporting our old versions of the library. However we do encourage our merchants to adopt the latest version of our library as soon as possible since there are new features, bug fixes and most importantly the security fixes come with the new version.

But I think we don't support Android API 15 or lower due to the TLS 1.2 requirement which means that you ma

[2018-09-20 12:14] chakrit commented on #46
@jutikorn @pitiphong-p We will drop support for TLS1.1 completely on our PCI-DSS vault soon (if not already done). It is a hard requirement for compliance. This means all credit card payments on old Android versions will simply stop working regardless of what SDK version you use and wether or not you upgrade.

[2018-09-21 04:04] jutikorn commented on #46
@chakrit Thanks for reply.
 Could you clarify the exact time when will the TLS 1.1 be completely dropped? I have to plan and propose this to my client to increase up the Android minimum SDK which will impact some current users.

Thank you.

[2018-09-21 04:08] pitiphong-p commented on #46
@jutikorn unfortunately I believe that TLS 1.1 has been already dropped support for awhile now

[2018-10-26 05:00] shroff-kandarp opened #50 "Use of CreditCard activity"
Please use appcompact activity. This is required to have material theme with toolbar with style. Also please support to light theme also. Currently background is black. If we change it to light then spinner item text is not showing.

[2018-10-26 05:58] nuxzero commented on #50
Sorry for the unfortunate, the OmiseAndroid did not support the support library at the moment. You can create your own credit card page with the support library or AndroidX to support your requirement. Our team will consider your suggestion and discuss this more internally.

[2018-10-26 06:54] shroff-kandarp commented on #50
If we use custom form then Is PCI-DSS required on our server?
Our flow Of custom form will be followed as below: We are using token payment.
1- Custom form
2- Entered details are directly pass to your server through your SDK
3 - Your sdk gives us token for that card details.
4 - This token is passed to our server for creating future payment.

Do we require PCI-DSS on our server?

[2018-10-26 07:29] shroff-kandarp commented on #50
okay thanks.

[2018-10-26 07:29] #50 closed

[2019-03-18 07:03] #46 closed

[2019-03-20 11:08] somnath121 opened #51 "Reflection related error for Android P"

[2019-03-20 14:38] #51 closed

[2019-04-25 06:41] annchar opened #53 "Unable to start AuthorizingPaymentActivity"
Unable to start activity
java.lang.ClassCastException: co.omise.android.ui.AuthorizingPaymentActivity cannot be cast to androidx.appcompat.app.AppCompatActivity

[2019-04-25 06:59] nuxzero commented on #53
From what I see from the exception, `AuthorizingPaymentActivity` didn't use `AppCompatActivity`. I'm not sure how you start the activity.
Could you share the code that you use to start `AuthorizingPaymentActivity` activity?

[2019-04-25 07:24] annchar commented on #53
[code]

[2019-04-25 07:25] annchar commented on #53
Call from activity extend AppCompatActivity

[2019-04-25 08:09] nuxzero commented on #53
From your code look correct to start `AuthorizingPaymentActivity`. For now, I check from the project using AndroidX, but we cannot reproduce the exception. Would be great if you can give us for more information example **Where do start Activity from Fragment or Activity?** or **create a project to reproduce the issue** that will help us to investigate the issue.

[2019-04-25 08:16] annchar commented on #53
[code]

[2019-04-25 08:32] nuxzero commented on #53
Could you give us full stacktrace from the exception?

[2019-04-25 08:48] annchar commented on #53
[code]

[2019-04-29 04:06] nuxzero commented on #53
We were trying to reproduce the issue with the information you provided, unfortunately we couldn't reproduce it. This issue might be caused by some configuration that we don't aware of.

We would like to help you solve this issue but we need your help. Could you provide a small project that can reproduce this issue? That will help us to investigate and find a solution quickly.

Thank you

[2019-05-01 18:57] annchar commented on #53
I found the cause of the problem It's because I installed a library called smart look.
Thank you for your help.

[2019-05-01 18:57] #53 closed

[2019-05-28 17:36] darienalvarez opened #54 "AppCompat support???"
Most of the apps now are based on APPCompat, are you going to update the library or at least add a different AppCompat Activity?

[2019-05-29 03:43] nuxzero commented on #54
Thank you for raising this issue with us. Upgrading to AndroidX is already on our roadmap and should be included in our future versions. However, the SDK provided the UI components to help the developer create UI. Please feel free to contact us again if you have any other questions or concerns.

[2019-05-30 03:48] nuxzero commented on #54
Since `AppCompatActivity` is a part of **AndroidX**, we need to adopt **AndroidX** to **omise-android**. However, **AndroidX** support backward-compatibility that means you can use **Appcompat** on **AndroidX**.

In the case, you are using `CreditCardActivity` you can create your own `AppCompatActivity` with the provided UI components. But if you are using `AuthorizingPaymentActivity` you need a s

[2019-06-14 02:07] #54 closed

[2019-09-05 06:55] trungnn307 opened #80 "Wrong CardBrand Identification"
I got this MasterCard test 2221 0000 0000 0009. In iOS version, the CreditCardText can identify that is MasterCard but in Android it can't  https://prnt.sc/p214ux

[2019-09-05 09:51] nuxzero commented on #80
@trungnn307 Thank you for your report. We investigated and found that your testing number was in the newly added available BIN list for MasterCard but our Omise Android SDK doesn't have an information about them. We are aware of this issue now and will fix it in the future version.

[2019-09-06 04:03] KhinThiriSoe opened #81 "Fatal Exception: java.lang.StackOverflowError stack size 1037KB"
I've got the error from  'Invocation.java line 51' co.omise.android.Invocation.processCall.

[2019-09-06 04:37] pitiphong-p commented on #81
@KhinThiriSoe Could you please provide us more information about the crash? The informations about OS version, the device model, a stack trace and or others

[2019-09-06 04:48] KhinThiriSoe commented on #81
Fatal Exception: java.lang.StackOverflowError
stack size 1037KB
com.google.gson.internal.bind.TypeAdapters$16.write (TypeAdapters.java:390)
com.google.gson.internal.bind.TypeAdapterRuntimeTypeWrapper.write (TypeAdapterRuntimeTypeWrapper.java:69)
com.google.gson.internal.bind.ReflectiveTypeAdapterFactory$1.write (ReflectiveTypeAdapterFactory.java:127)
com.google.gson.internal.bind.ReflectiveTypeAda

[2019-09-06 04:52] pitiphong-p commented on #81
@KhinThiriSoe  What's the Omise Android library version of this issue?

[2019-09-06 04:53] KhinThiriSoe commented on #81
@pitiphong-p version - 2.6.4

[2019-09-06 05:16] pitiphong-p commented on #81
@KhinThiriSoe thank you for the information. We did some investigation and found the cause of the issue. We'll release the hot fix version as soon as we can

[2019-09-06 05:17] KhinThiriSoe commented on #81
Thanks for the quick help :)

[2019-09-06 06:48] nuxzero commented on #81
@KhinThiriSoe Could you please provide us a sample project to produce this issue?

[2019-09-06 06:53] KhinThiriSoe commented on #81
huh, it's implemented in our app. How could I provide the project to you?

[2019-09-06 07:33] pitiphong-p commented on #81
@KhinThiriSoe We're sorry but we misunderstood and we still need more information about the issue. Could you please provide us a sample project which can reproduce the issue to us? That could help us a lot in our investigation.

[2019-09-06 09:56] KhinThiriSoe commented on #81
I'm sorry. I got the point. I just used Gson to convert JSON and now, placed it back to original and problem is solved. I'll close the issue. Thanks for your quick feedback.

[2019-09-08 04:40] #81 closed

[2019-09-26 05:56] VIjendraSalve opened #96 "Charge Class not found as you mention in Charge api"
Request<Charge> createChargeRequest = new Charge.CreateRequestBuilder()
        .amount(100000)
        .currency("THB")
        .card(token.getId())
        .build();
Charge charge = client().sendRequest(createChargeRequest);

in this code Charge class not found in sdk

[2019-09-26 09:12] pitiphong-p commented on #96
Hi @VIjendraSalve, Omise doesn't encourage a merchant to create a charge on the client due to the security concern. The recommend approach is to create a token with Omise Android SDK and then send the Token ID to the merchant backend and create a charge from there.

[2019-09-26 12:24] VIjendraSalve commented on #96
can you explain me what is the procedure for  to create a token with Omise
Android SDK and then send the Token ID to the merchant backend and create a
charge from there.
or can you share me web page link to refer this.
Thanks in advance

On Thu, Sep 26, 2019 at 2:42 PM Pitiphong Phongpattranont <
notifications@github.com> wrote:

[2019-09-27 03:37] pitiphong-p commented on #96
A merchant need to have a server to communicate with Omise API and the credit card data must not be sent to their server. You can tokenize the credit card information on the client using Omise Android SDK which you will get a Token data then you can send you token ID to your server and have your server to communicate to create charge with Omise API

You can see more information on https://www.omis

[2019-09-27 06:53] VIjendraSalve commented on #96
Thanks for your reply, but i already did the above procedure that you
mentioned in your last email so can you please explain me what is next
procedure after getting token id from card validation. with web page
reference.

On Fri, 27 Sep 2019, 9:07 am Pitiphong Phongpattranont, <
notifications@github.com> wrote:

[2019-09-28 17:23] pitiphong-p commented on #96
You need to send the Token ID to your server and have your server to call Omise API to create a charge via the Charge API https://www.omise.co/charges-api

[2019-10-02 02:57] #80 closed

[2019-10-02 02:58] #96 closed

[2019-10-02 06:21] VIjendraSalve commented on #96
Sorry to respond you late, but you are just giving us web page link their
is JSON response code but i cant find out input parameter with url so can
you please help me out with that.

On Wed, Oct 2, 2019 at 8:28 AM Natthawut Haematulin <
notifications@github.com> wrote:

[2019-10-02 06:33] igroomgrim commented on #96
You can find in [Create a charge - Section](https://www.omise.co/charges-api#create).
We provide examples to create a charge below this section.
![create_charge_examples](https://user-images.githubusercontent.com/1023290/66022760-2b01eb80-e519-11e9-8a25-edfe237eafd1.PNG)
🙇

[2019-10-02 07:00] VIjendraSalve commented on #96
Request<*Charge*> request = new Charge.CreateRequestBuilder()

        .amount(20000)
        .currency("THB")
        .description("That t-shirt")
        .card("card_test_4xtsoy2nbfs7ujngyyq")
        .build();
*Charge *charge = client.sendRequest(request);

System.out.printf("Created charge: " + charge.getId());

We are using this one for android to send amount but this *Charge
Class* is not av

[2019-10-02 07:12] nuxzero commented on #96
Sorry, this example is for `omise-java` dependency on the server side for the case that you implement your server in Java.

[2019-10-02 07:19] VIjendraSalve commented on #96
So how can we send data from android app. I mean which api format we have
to use?

On Wed, Oct 2, 2019 at 12:42 PM Natthawut Haematulin <
notifications@github.com> wrote:

[2019-10-02 07:48] nuxzero commented on #96
You can check from explained in above https://github.com/omise/omise-android/issues/96#issuecomment-535772972 🙂

[2020-02-10 05:32] zhangwenxiang26 opened #122 "Android Java Code"
Is there any Java code? This is all kotlin code for Android .

[2020-02-10 10:19] nuxzero commented on #122
Yes, we support both Java and Kotlin. You can find different usage in the sample code of the project.

If you have any questions, please don't hesitate to ask.

[2020-02-10 10:38] zhangwenxiang26 commented on #122
Oh sorry  . I can't find Java  code  usage in the sample  of the project. There is only Kotlin code .
For example,
-----------------------------------------------------------------------------------------------------------
val cardParam = CardParam(
                name = "JOHN Doe",
                number = "4242424242424242",
                expirationMonth = 10,
                expirationYear =

[2020-02-10 11:58] nuxzero commented on #122
Unfortunately, we don't have this sample in the sample code. However, you can call Kotlin code in Java as regular Java conventional like this.

[code]

Thank you for your feedback. We will note this to update in the future version.

[2020-02-12 04:27] nuxzero commented on #122
If you have another question about this issue, please feel free to reopen it. 🙂

[2020-02-12 04:27] #122 closed

[2020-04-07 07:56] saiqulhaq opened #126 "by when Prompt Pay support will be released?"
Hello Omise Team

we are going to implement Prompt Pay feature on our Android and iOS app
is it ready to be used?
it would be great if you add Prompt Pay to PaymentCreator Activity too

[2020-04-07 10:09] nuxzero commented on #126
Sure, we are progressing this feature. It will include in the next release. We will announce in public when this feature is already release.

[2020-04-07 10:09] #126 closed

[2020-04-24 09:11] zhangwenxiang26 opened #131 "Error adding credit card"
Card must be a hash is required ？

[2020-04-24 09:11] zhangwenxiang26 commented on #131
The error message：Card must be a hash is required ？

[2020-04-24 09:25] zhangwenxiang26 commented on #131
@Mazon @robinclart

[2020-04-25 07:02] #131 closed

[2020-06-17 06:26] saiqulhaq opened #136 "Your Jackson has high security issue"
https://github.com/omise/omise-android/blob/9698f26ae81089255ef5cfc235bf72521fc0bb6d/build.gradle#L27

Please can you upgrade jackson-databind to version 2.10.0 or higher?
currently It is possible to conduct a Deserialization attack using the oadd.org.apache.xalan.lib.sql.JNDIConnectionPool (apache/drill) class gadget if polymorphic type handling is enabled and an application using this package al

[2020-06-17 07:08] nuxzero commented on #136
Thank you for raising this issue for us. We will check this and update it to you soon. 🙂

[2020-06-22 08:27] nuxzero commented on #136
@saiqulhaq We have released a security patch version. Please check out our new version `3.1.1`. 🙂

[2020-06-22 09:32] #136 closed

[2020-07-29 11:01] luongvo opened #141 "Could we have DomStorage enable from WebView in AuthorizingPaymentActivity?"
Same to the question above, could we have `DomStorage` enable from WebView in [AuthorizingPaymentActivity](https://github.com/omise/omise-android/blob/a9b8e638453baf68ea5a29e47b2ad4350945e629/sdk/src/main/java/co/omise/android/ui/AuthorizingPaymentActivity.kt#L30)? Or can you provide a way to enable DomStorage on AuthorizingPaymentActivity's WebView via Intent data 🤔

The context is:
- Our authori

[2020-07-30 06:35] nuxzero commented on #141
@luongvo Thank you for raised this issue. This seems like the JavaScript can't work without enable `domStorageEnabled`. Anyway, we are working on this issue. So, we will let you if there is an update. 🙂

[2020-07-30 10:15] nuxzero commented on #141
@luongvo We just release the version `3.1.2` that included enabling Dom Storage on the WebView. Please update your application to the latest version and the error should be gone.

If you have any question that related to this issue please feel free to re-open this issue and ask your questions. 🙂

[2020-07-30 10:15] #141 closed

[2020-07-30 10:26] luongvo commented on #141
@nuxzero great, I will give it a try, thanks

[2020-11-20 02:47] nuxzero opened #164 "As an Omise developer, I want to add a new source type in minimum places"
# As an Omise developer, I want to add a new source type in minimum places

## Story

As an Omise developer, I want to add the new payment method in the payment form page of the Omise Android SDK. But it’s slightly complicated because there are many places required for me to change in the codebase.

## Proposal

To accomplish this story, the Omise Android SDK shall contain all resources of payment

[2020-12-04 04:36] #164 closed

[2020-12-25 06:44] zhangwenxiang26 opened #177 "android.content.res.Resources$NotFoundException"
**Android 5.1.1,level 22   --->  i-mobile IQ Z BRIGHT  ---> arm64-v8a **

String resource ID #0x2040003

java.lang.RuntimeException:Unable to start activity ComponentInfo{com.xxx.xxx/co.omise.android.ui.AuthorizingPaymentActivity}: android.view.InflateException: Binary XML file line #9: Error inflating class android.webkit.WebView

Caused by:
--
5 android.content.res.Resources$NotFoundException:St

[2020-12-25 07:18] nuxzero commented on #177
@zhangwenxiang26 Thank you for your reports. I'll look into the issue. 🙂

[2020-12-28 03:46] nuxzero commented on #177
@zhangwenxiang26  Please check out our new version 3.2.1 which included this bug fix. Please let us known if you face any issue.

[2020-12-30 07:13] zhangwenxiang26 commented on #177
Thank you. I will update to the app and wait for user feedback.

[2020-12-30 07:14] #177 closed

[2021-03-23 10:23] qflbai opened #193 "The SDK caused Glide to fail to load"
![image](https://user-images.githubusercontent.com/23705172/112131487-91defd00-8c04-11eb-8a8f-a2c700ff22f2.png)

[2021-03-31 08:20] qflbai commented on #193
Anybody solve it?

[2021-04-07 10:47] qflbai commented on #193
1、Omise SDK version：    implementation 'co.omise:omise-android:4.+'
2、Android version：10
3、Glide.with(this).load(skuPic).into(ivImage)

[2021-04-09 08:37] nuxzero commented on #193
@qflbai Thank you for the information. We will raise this issue to our team then inform you if there's any update.

[2021-04-09 10:04] nuxzero commented on #193
@qflbai Our team tried to reproduce this issue with your information. We have not found any issue that you raised. In my opinion this issue seems not related to Omise Android. However, could you provide a sample project with this issue for us?

[2021-07-07 04:16] #193 closed

[2021-10-26 07:39] andrewcmc opened #202 "Testing information for authorize url"
Hi team,
Could you please provide authorize URLs and Return URLs for testing?

[2021-11-02 16:30] mykola-dev opened #203 "Duplicate class error"
Just added a dependency to the gradle build script and tried to build. It conflicts with other lib we use.

[code]

[2021-11-03 09:31] deviant-studio commented on #203
this happens only on 4.0
3.2.1 does build fine

[2022-03-25 03:48] hoangtucmc commented on #203
I think I have the same issue as well, bumping Omise version from `3.2.1` to `4.0` cause release build to fail.
[code]

[2022-03-25 03:49] hoangtucmc commented on #203
@nuxzero could you please take a look